
.chat-label {
  font-weight: bold;
}

.chat-date {
  font-size: 0.7em;
  float: right;
}

.chat-last-msg {
  font-size: 0.9em;
}

p {
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

li a {
  display: block;
  color: #eceff4;
  font-size: 1rem;
  height: 5em;
  line-height: 1.5;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.75em;
  white-space: nowrap;
  text-decoration: none;
}

li a:hover {
  background-color: #434c5e;
}

li a:focus,
li a:active,
li a.active {
  background-color: #88c0d0;
  color: #2e3440;
}

