
<div *ngIf="chatData == undefined" class="no-chat-selected-view">
  <div class="empty-chat-view-label">
    Please select a chat
  </div>
</div>

<div *ngIf="chatData != undefined" class="chat-container">
  <div class="chat-log" #chatview>
    <a class="button is-small is-dark" *ngIf="chatData.full == false" (click)=loadFullChat()>Load All Messages</a>
    <div *ngFor="let msg of chatData.messages">
      <!-- <p class="">{{msg.from}}</p> -->
      <!-- <p class="">{{msg.date}}</p> -->
      <div [className]="msg.from_id == getMyUserId() ? 'chat-message--right' : 'chat-message'">
        <div class="chat-message__text">
          <p>{{ msg.text }}</p>

          <div class="chat-message__status-frame">
            <p class="chat-message__time">{{ getTime(msg.date) }}</p>
            <div *ngIf="msg.from_id == getMyUserId()" [className]="msgStatusToCssClassName(msg.status)"></div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <form class="chat-input-area">
    <input #inputbox type="text"
      class="chat-input-area__input" 
      placeholder="Write something..."
      (keypress.enter)=sendMessage()>
    <button type="submit" class="chat-input-area__submit-button" (click)=sendMessage()></button>
  </form>
</div>

<!-- (keyup)=updateDraft($event) -->