<div *ngIf="chatId == undefined" class="no-chat-selected-view">
  <div class="empty-chat-view-label">
    Please select a chat
  </div>
</div>

<div *ngIf="chatId != undefined" class="chat-container">
  <div class="chat-log">
    <div *ngFor="let msg of chatMessages">
      <!-- <p class="">{{msg.from}}</p> -->
      <!-- <p class="">{{msg.date}}</p> -->
      <div [className]="msg.from_id == myUserId ? 'chat-message--right' : 'chat-message'">
        <p class="chat-message__text">{{msg.text}}</p>
      </div>
    </div>
  </div>

  <form class="chat-input-area">
    <input type="text"
      class="chat-input-area__input" 
      placeholder="Write something..."
      (keyup)=updateInputBoxMessage($event)
      (keydown.enter)=sendMessage()>
    <button type="submit" class="chat-input-area__submit-button" (click)=sendMessage()></button>
  </form>
</div>
