:host {

}

.home-container {
  display: flex;
  height: 100vh;
}

.home-left-container {
  flex-grow: 1;
  min-width: 300px;
  max-width: 400px;
  background-color: #2e3440;
  border-right: solid #3b4252 2px;
  height: 100vh;

  display: flex;
  flex-flow: column;
}

.app-nav-bar {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.app-chats-list {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  overflow-y: hidden;
}

.home-right-container {
  flex-grow: 2;
  background-color: #2e3440;
  height: 100vh;
}
