:host {

}

.home-container {
  display: flex;
  height: 100vh;
}

.home-left-container {
  flex-grow: 1;
  min-width: 300px;
  max-width: 500px;
  background-color: #222831;
  color: lightgray;
}

.home-right-container {
  flex-grow: 2;
  background-color: #252e3d;
}
